@font-face {
  font-family: 'MavenProRegular';
  src: url('/fonts/maven_pro_regular-webfont.eot');
  src: url('/fonts/maven_pro_regular-webfont.eot?#iefix') format('eot'),
       url('/fonts/maven_pro_regular-webfont.woff') format('woff'),
       url('/fonts/maven_pro_regular-webfont.ttf') format('truetype'),
       url('/fonts/maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

hr {
  border: none;
  outline: none;
  margin: 1.5em 0;
  height: 1px;
  background: #eee;
}

section {
  margin: 0;
  padding: 10px 10px 2em 10px;
}

section > h1 {
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
}

input[type="email"] {
  border: 1px solid #ccc;
  padding: 0.5em;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;

  -webkit-appearance: none;
  border-radius: 0;
}

button {
  border: 1px solid #e24b31;
  padding: 0.5em;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;

  background: #e24b31;
  color: white;
}
button:active {
  background: #b33c27;
  border-color: #b33c27;
}

.alt-background {
  background: #eee;
}

.header {
  padding: 10px;

  background: #e24b31;
}

.tomster {
  display: block;
  margin: 0 auto;
}

.masthead {
  margin: 0;

  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: -1px;

  color: white;
}

.centered {
  text-align: center;
}

.well {
  border: 1px solid #e5b5a1;
  padding: 12px 16px;

  background: #faf4f1;
  color: #e24b31;
}

.well p:first-child { margin-top: 0 }
.well p:last-child { margin-bottom: 0 }

.lead {
  font-size: 1em;
  font-weight: bold;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.email-group {
  position: relative;
  margin: 1em auto;
}
.email-group input {
  box-sizing: border-box;
  margin: 0;
  padding-right: 100px;
  width: 100%;
}
.email-group button {
  position: absolute;
  top: 0; right: 0;
  margin: 0;
}

.block {
  display: block;
}

.row {
  display: block;
}
.row:after {
  content: '';
  display: block;
  clear: both;
}

.profile {
  margin-bottom: 3em;
}

@media (min-width: 768px) {
  .profile {
    margin-bottom: 1em;
  }
  .profile:after {
    content: '';
    display: block;
    clear: both;
  }
  .profile .image {
    float: left;
    width: 50%;
  }
  .profile img {
    display: block;
    margin: 0;
  }
  .profile .text {
    box-sizing: border-box;
    float: left;
    padding: 1em;
    width: 50%;
  }
  .profile h3 {
    margin-top: -1em;
  }
}
