@font-face {
  font-family: 'MavenProRegular';
  src: url('/fonts/maven_pro_regular-webfont.eot');
  src: url('/fonts/maven_pro_regular-webfont.eot?#iefix') format('eot'),
       url('/fonts/maven_pro_regular-webfont.woff') format('woff'),
       url('/fonts/maven_pro_regular-webfont.ttf') format('truetype'),
       url('/fonts/maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

section {
  margin-top: 0;
}

section h1 {
  font-weight: bold;
  text-align: center;
  letter-spacing: -1px;
}

section {
  padding: 10px;
}

.divider {
  display: none;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.header {
  padding: 10px;

  background: #e24b31;
}

.tomster {
  display: block;
  margin: 0 auto;
}

.masthead {
  margin: 0;

  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  letter-spacing: -1px;

  color: white;

}

.centered {
  text-align: center;
}

.well {
  margin: 0 8px;
  border: 1px solid #e5b5a1;
  padding: 12px 16px;

  background: #faf4f1;
  color: #e24b31;
}

.well p:first-child { margin-top: 0 }
.well p:last-child { margin-bottom: 0 }

.lead {
  font-size: 1em;
  font-weight: bold;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
