a { color: #e24b31; }

body {
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;

  background: #fcfcfc;
  color: #333333;
}

form {
  margin: 0 auto;
  max-width: 24em;
}

h1,
h2,
h3 {
  margin: 24px 0;

  font-size: 1.25em;
  line-height: 1.5em;
}

h4,
h5,
h6 {
  margin: 24px 0;

  font-size: 1em;
  line-height: 1.5em;
}

hr {
  margin: 48px auto;

  border: 0;
  border-top: 1px solid #cccccc;
}

html { font-size: 100%; }

input[type="email"] {
  -webkit-font-smoothing: antialiased;

  box-sizing: border-box;

  display: block;

  padding: 12px 120px 12px 12px;
  margin: 24px 0;
  width: 100%;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.5em;

  border: 1px solid #cccccc;
}

p { margin: 24px 0; }

.accordion-header {
  display: block;
  overflow: hidden;
  position: relative;

  padding: 24px;

  font-size: 1em;
  line-height: 1.5em;
  text-decoration: none;

  background: #e6e6e6;
  color: #333333;
}

.accordion-header.even { background: #f0f0f0; }

.accordion-icon {
  position: absolute;
  right: 24px;

  text-decoration: none;
  line-height: 1.5em;
}

.banner-logo {
  margin: 0 auto;
  width: 224px;
}

.button {
  -webkit-font-smoothing: antialiased;

  display: inline-block;

  padding: 12px 24px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  background: #e24b31;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.column {
  box-sizing: border-box;

  float: left;

  margin: -24px 0;
  padding: 0 12px;
  width: 100%;
}

.column+.column { margin-top: 0; }

.container {
  position: relative;
  margin: 48px auto;
  max-width: 49em;
  padding: 0 24px;
}

.follow-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.intro strong {
  font-size: 1.25em;
  line-height: 1.5em;
}

.next-column .map-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 50%;
  height: 0;
  overflow: hidden;
}

.next-column .map-container .map {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.next-column .map-link {
  margin-top: .75em;
}

.next-date {
  margin-top: -24px;

  font-size: 1.25em;
  line-height: 1.5em;
}

.previous-events {
  margin: 24px 0;
  padding: 0;

  text-align: left;

  list-style: none;
}

.talks {
  margin: 24px -12px;
  padding: 0;

  text-align: center;

  list-style: none;
}

.row {
  overflow: hidden;

  margin: 24px -12px;
}

.speaker-name {
  margin: 24px 0;

  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
}
.speaker-twitter { margin: -24px 0 -6px 0; }

.banner-title {
  position: absolute;
  left: 0; right: 0;
  opacity: 0;

  text-align: center;
}

.talk-title {
  margin-bottom: .5em;
}
.talk-abstract {
  margin-top: 0;
  font-size: .85em;
  line-height: 1.4;
}

.speaker-img {
  display: block;

  margin: 24px 0;
  max-width: 100%;
}

@media (min-width: 384px) {
  .talks { text-align: left; }

  .talks-nested-column { width: 50%; }
  .talks-nested-column:nth-child(2n+1) { clear: left; }
  .talks-nested-column+.talks-nested-column { margin-top: -24px; }
}

@media (min-width: 512px) {
  h1,
  h2,
  h3 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  html { font-size: 87.5%; }

  .follow-speak-column { width: 50%; }
  .follow-speak-column:nth-child(2n+1) { clear: left; }
  .follow-speak-column+.follow-speak-column { margin-top: -24px; }
  .follow-speak-rule { display: none; }

  .intro strong {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .next-column { width: 50%; }
  .next-column:nth-child(3n+1) { clear: left; }
  .next-column+.next-column { margin-top: -24px; }
  .next-rule { display: none; }

  .next-date {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .talks { text-align: center; }

  .talks-column { width: 33.3333%; }
  .contains-4 .talks-column { width: 25%; }
  .talks-nested-column:nth-child(3n+1) { clear: left; }
  .talks-column+.talks-column { margin-top: -24px; }

  .talks-nested-column { width: 100%; }
  .talks-nested-column:nth-child(2n+1) { clear: none; }
  .talks-nested-column+.talks-nested-column { margin-top: 0; }

  .half-width-columns > .column {
    width: 50%;
  }
  .talk-abstract {
    min-height: 4.5em;
    padding-bottom: 2em;
  }
}

@media (min-width: 752px) {
  html { font-size: 100%; }
}

.guidelines {
  text-align: left;
}

.guidelines main {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
}

.guidelines ul {
  padding-right: 2em;
}
