---
layout: default
title: The London Ember.js User Group
---

{% include banner.html %}

<div class="container">
  <main role="main">
    {% include intro.html %}
    <hr>
    {% include next.html %}
    <hr>
    {% include previous.html %}
    <hr>
  </main>

  <footer class="row" role="contentinfo">
    <div class="column follow-speak-column">
        {% include speak.html %}

        <hr class="follow-speak-rule">
    </div>

    <div class="column follow-speak-column">
      {% include follow.html %}
    </div>
  </footer>
</div>
