<section class="follow">
  <h2>Follow Ember London</h2>

  <ul class="follow-links">
    <li>Keep track of our events on <a href="http://www.meetup.com/London-Emberjs-User-Group/">Meetup</a></li>
    <li>Follow <a href="https://twitter.com/emberlondon">@emberlondon</a> on Twitter</li>
    <li>Watch videos from our events on <a href="https://vimeo.com/emberlondon">Vimeo</a></li>
    <li>See photos from our events on <a href="https://www.flickr.com/groups/emberlondon/">Flickr</a></li>
    <li>Join the conversation on <a href="http://discuss.emberlondon.com/">our forum</a></li>
    <li>Source code on <a href="https://github.com/emberlondon">GitHub</a></li>
  </ul>
</section>
