<section class="intro">
  <p><strong>Ember London is a community for anyone interested in Ember.js and building ambitious applications in the browser.</strong></p>

  <p>We host monthly meetups with talks from contributors, library authors and enthusiasts. The aim is to cover a broad range of topics of interest to beginners and advanced users alike.</p>
</section>

<hr>

<section class="promo">
  <h2>Announcement:</h2>
  <b>Learn Professional Ember.js on the Cheap</b><br>
  with <a href="https://twitter.com/joachimhs">Joachim Haagen Skeie</a>,
  author of <a href="http://www.manning.com/skeie/">Ember.js in Action</a><br>
  <b>Thursday, 14 August 9am–5pm</b>
  <br><br>
  <a href="https://www.eventbrite.com/e/learn-professional-emberjs-on-the-cheap-london-uk-tickets-12184719825" class="button">
    Book on Eventbrite
  </a>
</section>
