<section class="intro">
  <p><strong>Ember London is a community for anyone interested in Ember.js and building ambitious web applications.</strong></p>

  <p>We host monthly meetups with talks from contributors, library authors and enthusiasts. The aim is to cover a broad range of topics of interest to beginners and advanced users alike.</p>

  <!-- <p>We also host monthly project nights where you can hang out and write code with fellow London Embereños.</p> -->

  <p><b><a href="https://www.meetup.com/London-Emberjs-User-Group">Check the event schedule on Meetup.com</a></b></p>
</section>
