<section class="next">
  <h2>Next Event:</h2>
  <p class="next-date">{{ site.data.next-event.date }}, {{ site.data.next-event.time }}</p>
  <p><a class="button" href="http://www.meetup.com/London-Emberjs-User-Group/">RSVP on Meetup</a></p>

  <hr>

  <div class="row">
    <div class="column next-column">
      <h3>The Venue</h3>
      <div class="map-container" role="presentation" aria-hidden="true">
        <iframe role="presentation" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDbdA24xXumDDlD6MHP0CfZVY0tCB7S5QU&q={{site.data.next-event.location | uri_escape}}&zoom=15" height="100%" width="100%" frameborder="0" class="map"></iframe>  
      </div>
      <p class="map-link"><a href="http://maps.google.com/?q={{site.data.next-event.location | uri_escape}}">{{site.data.next-event.location}}</a></p>
      <p>Kindly sponsored by <a href="http://www.sapient.com/en-gb/sapientnitro.html">SapientNitro</a></p>
      <hr class="next-rule">
    </div>

    <div class="column next-column">
      <h3>What to Expect</h3>
      <p>In-depth talks and discussion with other developers building ambitious web applications. Our focus is Ember.js, but we strive to cover other great technologies such as Angular, Knockout and more.</p>
      <p>After the talks we’ll head to the pub to continue the conversation.</p>
      <p>We strive to ensure everyone feels comfortable and included and has a great time at our events.<br>See the <a href="http://confcodeofconduct.com/">code of conduct</a> for more detail.</p>
    </div>
  </div>

  {% if site.data.next-event.talks %}
  <hr>

  <h3>Line-up</h3>
  <ul class="row talks">
    {% for talk in site.data.next-event.talks %}
      <li class="column talks-column">
        <div class="row">
          <div class="column talks-nested-column">
            <img src="{{ talk.image }}" alt="Photo of {{ talk.speaker_name }}">
          </div>
          <div class="column talks-nested-column">
            <h4>{{ talk.speaker_name }}</h4>
            {% if talk.speaker_twitter %}
              <p class="speaker-twitter"><a href="http://www.twitter.com/{{ talk.speaker_twitter }}">@{{ talk.speaker_twitter }}</a></p>
            {% endif %}
            {% if talk.info %}
              <p>{{ talk.info }}</p>
            {% else %}
              <p>&nbsp;</p>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
