<section class="previous">
  <h2>Videos from Previous Events</h2>

  <ul class="previous-events accordion">
    {% for event in site.data.previous-events %}
      <li>
        <a class="accordion-header {% cycle 'odd', 'even' %}" href="#">
          <h3 class="event-date">{{ event.date }} <i class="fa fa-minus-circle accordion-icon"></i></h3>
        </a>
        <ul class="row talks accordion-content">
          {% for talk in event.talks %}
            <li class="column talks-column">
              <div class="row">
                <div class="column talks-nested-column">
                  <a href="{{ talk.video_url }}">
                    <img src="{{ talk.image }}">
                  </a>
                </div>
                <div class="column talks-nested-column">
                  <h4>{{ talk.speaker_name }}</h4>
                  {% if talk.speaker_twitter %}
                    <p class="speaker-twitter"><a href="http://www.twitter.com/{{ talk.speaker_twitter }}">@{{ talk.speaker_twitter }}</a></p>
                  {% endif %}
                  <p>{{ talk.info }}</p>
                  {% if talk.video_url %}
                    <p><a href="{{ talk.video_url }}">Watch on Vimeo</a></p>
                  {% else %}
                    <p><strong>Video coming soon.</strong></p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>
