<section class="previous">
  <h2>Videos from Previous Events</h2>

  <ul class="previous-events accordion">
    {% for event in site.data.previous-events %}
      <li>
        <h3 class="accordion-header event-date {% cycle 'odd', 'even' %}">
          {{ event.date }}
        </h3>
        <ul class="row talks accordion-content contains-{{ event.talks | size }}">
          {% for talk in event.talks %}
            <li class="column talks-column">
              <div class="row">
                <div class="column talks-nested-column">
                  {% if talk.video_url %}<a href="{{ talk.video_url }}" title="Click to watch video">{% endif %}
                    <img src="{{ talk.image }}" alt="Photo of {{ talk.speaker_name }}" class="speaker-img">
                  {% if talk.video_url %}</a>{% endif %}
                </div>
                <div class="column talks-nested-column">
                  <p class="speaker-name">{{ talk.speaker_name }}</p>
                  {% if talk.speaker_twitter %}
                    <p class="speaker-twitter"><a href="http://www.twitter.com/{{ talk.speaker_twitter }}" aria-label="Follow {{ talk.speaker_name }} on Twitter">@{{ talk.speaker_twitter }}</a></p>
                  {% endif %}
                  <p>{{ talk.info }}</p>
                  {% if talk.video_url %}
                    <p><a href="{{ talk.video_url }}">Watch the video</a></p>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>
