<h2>Next Project Night:</h2>
<p class="next-date" aria-label="{{ event.datetime_aria }}">{{ event.date }}, {{ event.time }}</p>
<p><a class="button" href="{{ event.url }}">RSVP on Meetup</a></p>
<hr role="presentation">
<div class="row">
  <div class="column next-column">
    <h3>The Venue</h3>
    <div class="map-container" role="presentation" aria-hidden="true">
      <div class="map">{{event.location}}</div>
    </div>
    <p class="map-link"><a href="http://maps.google.com/?q={{event.location_for_google | uri_escape}}">{{event.location}}</a></p>
    <hr role="presentation" class="next-rule">
  </div>

  <div class="column next-column">
    <h3>What to Expect</h3>
    <p><strong>BYOP (Bring Your Own Project)</strong></p>
    <p>Project Nights are all about jumping in, getting help and giving back. Be that working on an upstream change to Ember itself or a side project using Ember. The sessions are informal, friendly and agenda-less.</p>
    <p>Mix with your fellow Embereños and get hacking!</p>
    <p>Refreshments provided by our awesome host(s) and sponsor(s).</p>
    <p>We strive to ensure everyone feels comfortable and included and has a great time at our events.<br><a href="https://github.com/emberlondon/code-of-conduct">See the code of conduct for more detail</a>.</p>
  </div>
</div>
